/* colors used 

  --clr-blue-dark:hsla(240, 9.3%, 19%, 1);
  --clr-rose-light: hsla(13, 15.8%, 88.8%, 1);
  --clr-ochre-dark: hsla(43, 25.8%, 55.1%, 1);
  --clr-rose-dark: hsla(13, 9.7%, 81.8%, 1);
  --clr-brown-dark: hsla(13, 9.3%, 19%, 1);
  --ochre-15: hsla(43, 25.8%, 55.1%, 0.15);

  --grey-light:  hsla(0,0%,0%,0.1);

*/

/*
-----------------------------------------------------------------
Custom properties
-----------------------------------------------------------------
*/

:root {
  --clr-rose-light: hsl(13, 16%, 89%);
  --clr-rose-dark: hsl(13, 10%, 82%);

  --clr-ochre-dark: hsl(43, 26%, 55%);
  --ochre-15: hsla(43, 25.8%, 55.1%, 0.15);

  --clr-blue-dark: hsl(240, 9%, 19%);
  --clr-brown-dark: hsl(13, 9%, 19%);

  --grey-light: hsla(0, 0%, 0%, 0.1);

  --ff-primary: "Literata", serif;
  --ff-secondary: "Inconsolata", monospace;

  --ff-body: var(--ff-secondary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-300: 0.833rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-xl: 2.074rem;

  --fs-xl-heading: var(--fs-xl-heading);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-tertiary-heading: var(--fs-500);
  --fs-body: var(--fs-400);
  --fs-small: var(--fs-300);

  --spacer-400: 1rem;
  --spacer-500: 2rem;
  --spacer-600: 4rem;
  --spacer-700: 6rem;
  --spacer-800: 8rem;
  --spacer-900: 10rem;
}

@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.618rem;
    --fs-600: 2.618rem;
    --fs-700: 4.236rem;
    --fs-xl: 6.854rem;
  }
}

/*
---------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------------

CSS Reset https://piccalil.li/blog/a-more-modern-css-reset/

-----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*
----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------

Utility classes

----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------
*/

.text-rose-light {
  color: var(--clr-rose-light);
}

.text-rose-dark {
  color: var(--clr-rose-dark);
}

.text-ochre-dark {
  color: var(--clr-ochre-dark);
}

.text-blue-dark {
  color: var(--clr-blue-dark);
}

.text-brown-dark {
  color: var(--clr-brown-dark);
}

.bg-rose-light {
  background-color: var(--clr-rose-light);
}

.bg-rose-dark {
  background-color: var(--clr-rose-dark);
}

.bg-ochre-dark {
  background-color: var(--clr-ochre-dark);
}

.bg-blue-dark {
  background-color: var(--clr-blue-dark);
}

.bg-brown-dark {
  background-color: var(--clr-brown-dark);
}

.bg-rose-paper {
  background-image: url(../img/bg/txtr-ppr-200px.png);
  background-size: 10%;
}

.bg-stripe {
    background-image: url(../assets/stripe.svg);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-body {
  font-family: var(--ff-body);
}

.fs-xl-heading {
  font-size: var(--fs-xl-heading);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-tertiary-heading {
  font-size: var(--fs-tertiary-heading);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-small {
  font-size: var(--fs-300);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}



.margin-top-400 {
  margin-top: var(--spacer-400);
}

.margin-block-400 {
  margin-block: var(--spacer-400);
}

.margin-inline-400 {
  margin-inline: var(--spacer-400);
}



.padding-top-400 {
  padding-top: var(--spacer-400);
}

.padding-block-400 {
  padding-block: var(--spacer-400);
}

.padding-block-700 {
  padding-block: var(--spacer-700);
}

.padding-inline-400 {
  padding-inline: var(--spacer-400);
}



.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.flex-container {
  display: flex;
  gap: var(--gap, 1rem);
}

/*
----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------

START

----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------
*/

body {
  color: var(--clr-blue-dark);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 150%;
  overflow-x: hidden;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.img-acc {
  max-width: 15rem;
  margin-inline: auto;
  margin-block: auto;
}

/*
-----------------------------------------------------------------
wrapper
-----------------------------------------------------------------
*/

.wrapper--wide {
  width: 100%;
  max-width: 75em;
  margin-inline: auto;
}

.wrapper {
  width: 100%;
  max-width: 60em;
  padding-inline: var(--spacer-400);
  margin-inline: auto;
}

/*
-----------------------------------------------------------------
link and button
-----------------------------------------------------------------
*/

a {
  color: var(--clr-blue-dark);
  font-weight: var(--fs-500);
}

/*
-----------------------------------------------------------------
primary header 
-----------------------------------------------------------------
*/

.primary-header .container {
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;

  align-items: center;
  justify-content: center;
}

.logo-mark {
  margin: 1rem 0.5rem 1rem 1rem;

  background-image: url(../assets/logo-light.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  width: 2rem;
  aspect-ratio: 1;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  max-width: 75em;
  margin-inline: auto;

  border-bottom: 1px solid var(--grey-light);
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  margin: 0;
  list-style-type: none;
  background: hsl(0 0% 0% / 0.5);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(20vh, 10rem) 2rem;

    --gap: 2rem;

    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;

    position: absolute;
    z-index: 9999;

    background-image: url(../assets/menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;

    width: 1.5rem;
    aspect-ratio: 1;

    border: 0;

    top: 1rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/menu-close.svg);
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);

    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw, 10rem);

    backdrop-filter: none;
    background-color: transparent;
  }
}

/*
-----------------------------------------------------------------
grid
-----------------------------------------------------------------
*/

.grid {
  --column-count: 1;
  display: grid;
  gap: var(--spacer-400);

  grid-template-columns: repeat(var(--column-count), 1fr);
}

.grid[data-columns="2"] {
  --column-count: 1;
}

.grid[data-columns="3"] {
  --column-count: 1;
}

@media (min-width: 40em) {
  .grid[data-columns="2"] {
    --column-count: 2;
    grid-template-columns: 2fr 1fr;
  }

  .grid[data-columns="3"] {
    --column-count: 2;
  }
}

@media (min-width: 50em) {

  .grid[data-columns="3"] {
    --column-count: 3;
  }
}

/*
-----------------------------------------------------------------
card
-----------------------------------------------------------------
*/

.card {
  max-width: 40rem;
}

.card-contents {
  padding: var(--spacer-400);
  background-color: #f4f4f5;
  color: var(--clr-blue-dark);
  text-align: center;
}

.card-contents p{
  margin-top: var(--spacer-400);
}
